@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --gradient-1: linear-gradient(
    0deg,
    rgba(47, 44, 233, 1) 0%,
    rgba(105, 67, 255, 1) 100%
  );

  --gradient-2: linear-gradient(
    0deg,
    rgba(37, 33, 201, 0) 0%,
    rgba(77, 33, 201, 1) 100%
  );
  --yellow: #ffb21e;
  --blue: #1125d6;
  --green: #00bb8f;
  --red: #ff5555;
  --dark-navy: #303b59;
  --light-blue: #cac9ff;
  --very-light-blue: #ecf2ff;
  --white: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Hanken Grotesk", sans-serif;
  background: var(--very-light-blue);
}

main {
  background-color: var(--white);
}

.result {
  width: 100vw;
  height: 35.6rem;
  background: var(--gradient-1);
  border-bottom-left-radius: 3.2rem;
  border-bottom-right-radius: 3.2rem;
}

.result_title {
  width: 9.4rem;
  height: 2.3rem;
  font-size: 1.8rem;
  color: var(--light-blue);
  position: relative;
  left: 50%;
  top: 2.4rem;
  transform: translateX(-50%);
  font-weight: bold;
}

.result_score {
  background: var(--gradient-2);
  width: 14rem;
  height: 14rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 4.8rem;
  border-radius: 50%;
}

.result_score-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6.3rem;
  text-align: center;
}

.result_score-main {
  font-size: 5.6rem;
  font-weight: bolder;
  color: var(--white);
}

.result_score-total {
  font-size: 1.6rem;
  color: var(--light-blue);
  font-weight: bold;
}

.result_feedback {
  width: 26rem;
  height: 8.1rem;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 7.2rem;
}

.result_feedback-main {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: bold;
}

.result_feedback-total {
  color: var(--light-blue);
  font-size: 1.6rem;
  font-weight: 400;
  position: relative;
  top: 0.8rem;
}

.summary {
  margin: 2.4rem 3.2rem 3rem;
}

.summary_title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2.4rem;
}

.summary_data {
  height: 27.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary_data-article {
  border-radius: 1.2rem;
  height: 5.6rem;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary_data-article-title {
  display: flex;
  align-items: center;
}

.summary_data-article-title img {
  margin-right: 1.2rem;
}

.summary_data-article-title p {
  font-size: 1.6rem;
}

.summary_data-article-score {
  font-size: 1.6rem;
  color: var(--dark-navy);
}

.summary_data-article-score span {
  opacity: 50%;
}

.reaction {
  background-color: #fff6f6;
}

.memory {
  background-color: #fffbf4;
}

.verbal {
  background-color: #f2fcf9;
}

.visual {
  background-color: #f3f4fd;
}

.reaction_title p {
  color: var(--red);
}

.memory_title p {
  color: var(--yellow);
}

.verbal_title p {
  color: var(--green);
}

.visual_title p {
  color: var(--blue);
}

@media screen and (min-width: 426px) {
  main {
    width: 73.6rem;
    height: 51.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3.2rem;
    border: 1px solid red;
  }

  .result {
    width: 36.8rem;
    height: 100%;
    border-radius: 3.2rem;
  }

  .result_title {
    width: 12.5rem;
    height: 3.1rem;
    font-size: 2.4rem;
  }

  .result_score {
    width: 20rem;
    height: 20rem;
    top: 7.3rem;
  }

  .result_score-container {
    width: 8.1rem;
  }

  .result_score-main {
    font-size: 7.2rem;
  }

  .result_score-total {
    font-size: 1.8rem;
    width: 5.3rem;
    height: 2.3rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4px;
  }

  .result_feedback {
    width: 26rem;
    height: 13.4rem;
    top: 10.1rem;
  }

  .result_feedback-main {
    font-size: 3.2rem;
  }

  .result_feedback-total {
    font-size: 1.8rem;
  }
}
